.coin {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    color: aquamarine;
    
}

.progress-bar {
    width: 100%;
    

}
